.head{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    padding: 10px;
    margin: 5px;
}

.img-src{
width:200px;
}

.nav-items>ul{
    display: flex;
    list-style-type: none;
}

.nav-items>ul>li{
    font-size: 25px;
    padding: 10px;
    margin: 20px;
}

.res-card{
 background-color: #f0f0f0;
 width: 300px;
 padding: 5px;
 margin: 5px;
}

.res-card:hover{
 border: 1px solid black;
 cursor: pointer;
}

.res-container{
    display: flex;
    flex-wrap: wrap;
}

.res-img{
    width: 100%;
}

.filter-btn{
    padding: 5px;
    margin: 5px;
    cursor: pointer;
}

.shimmer-container{
    display: flex;
    flex-wrap:wrap;
}

.shimmer-card{
    width: 300px;
    height: 400px;
    background-color:#f0f0f0;
    padding: 5px;
    margin: 5px;
}

.log-btn{
    margin-right: 15px;
   padding: 20px;
}

.buttons{
    display: flex;
}

 .filter{
      padding: 5px;
      margin: 5px;
}

.filter-logic{
      margin-left: 5px;
}

.filter-btn{
      margin-left: 10px;
}
 
